<header
  class="bg-white top-0 w-full drop-shadow-md before:absolute before:bottom-0 before:w-full before:h-[1px] before:navbar-gradient"
>
  <div class="container flex justify-between py-6 relative">
    <!-- logo -->
    <h1>
      <a
        href="index.html"
        class="w-6 h-6 block bg-[url('../assets/images/logo-square.png')] bg-contain bg-no-repeat indent-[101%] overflow-hidden whitespace-nowrap lg:bg-[url('../images/logo_horizontal.png')] md:w-[175px] md:h-[42px] hover:opacity-50"
        >Coding Home</a
      >
    </h1>
    <!-- desktop nav -->
    <nav class="hidden justify-end items-center md:flex">
      <a href="#about" class="px-6 py-2 hover:opacity-50">About</a>
      <a href="#projects" class="px-6 py-2 hover:opacity-50">Projects</a>
      <a href="#workExp" class="px-6 py-2 hover:opacity-50">Experience</a>
      <a href="#contact" class="px-6 py-2 hover:opacity-50">Contact</a>
      <a
        href="https://lihi3.cc/tydM7"
        target="_blank"
        class="btn btn-primary px-6 py-2"
        >Resume</a
      >
    </nav>
    <!-- mobile nav -->
    <a
      id="navMobileBtn"
      class="material-icons w-6 h-6 text-primary md:hidden"
      href="#"
      >drag_handle</a
    >
    <div
      id="navMobileMenu"
      class="absolute top-[72px] left-0 w-full z-10 bg-primary text-white shadow-lg hidden md:hidden"
    >
      <nav class="text-center divide-y">
        <a href="#about" class="text-md py-4">About</a>
        <a href="#projects" class="text-md py-4">Projects</a>
        <a href="#workExp" class="text-md py-4">Experience</a>
        <a href="#contact" class="text-md py-4">Contact</a>
        <a href="https://lihi3.cc/tydM7" target="_blank" class="text-md py-4"
          >Resume</a
        >
      </nav>
    </div>
  </div>
</header>
